/* body CSS */
body {
  justify-content: center;
}

/* form CSS */
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  align-items: center;
  padding: 1rem;
  border: 2px solid black;
}

p {
  width: 100%;
  padding: 0.5rem;
  color: red;
  border-left: 3px solid red;
  background-color: rgb(255, 225, 225);
}
