<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/menu.css" />
    <title>Menu Page</title>
  </head>
  <body>
    <h1>Menu</h1>
    <div class="menu">
      <% dishData.forEach(element => { %>
      <div class="item-menu">
        <h2><%= element.name %></h2>
        <h4>RS./<%= element.price %></h4>
        <p><%= element.description %></p>
      </div>
      <% }) %>
    </div>
    <br />
    <a href="/add">Add Dish</a>
  </body>
</html>
