<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/index.css" />
    <title>Home Page</title>
  </head>
  <body>
    <h1>Home Page</h1>
    <% if (!user){ %>
    <p>You are not Logged in</p>
    <a href="/login"><button>Log in</button></a>
    <% }else{ %>
    <h2><%= user.userName %></h2>
    <% if (!user.isVerified){ %>
    <div>
      <p>Not Verified</p>
      <a href="/verify/email">verify</a>
    </div>
    <% }else{ %>
    <p>Verified</p>
    <% } %>
    <a href="/logout"><button>Log out</button></a>
    <% } %>
  </body>
</html>
