/* body css */
body {
  justify-content: center;
}

/* form css */
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 0.5rem;
  border: 2px solid black;
}

form > input,
form > button {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
}

form > button {
  cursor: pointer;
}

p {
  padding: 0.5rem;
  width: 100%;
  border-left: 3px solid rgb(213, 0, 0);
  background-color: rgb(241, 191, 191);
  color: rgb(208, 0, 0);
}
