/* body CSS */
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* form CSS */
form {
  padding: 1rem;
  border: 2px solid black;
  border-radius: 5px;
  gap: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form > input,
form > button {
  padding: 0.5rem;
  font-size: 1rem;
  width: 100%;
}

form > button {
  cursor: pointer;
}

form > p {
  padding: 0.5rem;
  background-color: rgb(237, 170, 170);
  color: rgb(164, 0, 0);
  border-left: 4px solid red;
}
